[Unit]
Description=DHCPv4 Server Daemon
Documentation=man:dhcpd(8) man:dhcpd.conf(5)
Wants=network-online.target
After=network-online.target
After=time-sync.target

[Service]
Type=notify
ExecStart=<%= @dhcpd_binary %> -f -cf <%= @dhcp_dir %>/<%= @dhcpd_conf_filename %> -user dhcpd -group dhcpd --no-pid <%= Array(@dhcp_interfaces).join(' ') %>

[Install]
WantedBy=multi-user.target
